*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  // background-color: #e1faf1;
  background: linear-gradient(125deg, #e1faf1, #f8e1fa);
}

html, body, #root {
  min-height: 100%;
}