@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.single-project {
  white-space: pre-line;
  display: inline-block;
  width: 100%;
  background-color: #eee;
  border-radius: .5rem;
  overflow: hidden;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.01) translateY(-.5%);
  }
  @include tablet {
    width: 50%;
    box-shadow: $darkshadow1;
    padding: 0 0.5rem;
    &:hover {
      transform: scale(1.025) translateY(-1.5%);
    }
  }
  @include desktop {
    padding: 0 1rem;
  }

  &__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #000;
  }

  &__thumbnail {
    width: 100%;
    object-fit: cover;
    height: 50%;
  }


  &__badge {
    margin: 0.75rem 1rem 0;
    color: white;
    background-color: rgb(26, 114, 230);
    width: fit-content;
    border-radius: 0.5rem;
    border-bottom: 3px solid rgb(68, 155, 255);
    box-shadow: $darkshadow1;
  }

  &__copy {
    margin: 0 0 0.5rem;
    word-break: break-all;
  }
}